{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class='container'>
    <h1 class='text-center'>Registrarse</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.apellidos) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.roles, {
            label: 'Roles'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-color">Registrarse</button>
        {# <a href="http://localhost/panel_administracion/public/register">Registrarse</a> #}
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
